{"openapi":"3.1.0","info":{"title":"Nitro Sign Public API","description":"REST API for Nitro Sign","version":"0.1"},"servers":[{"url":"https://api.gonitro.dev"}],"security":[{"bearerAuth":[]}],"paths":{"/sign/envelopes/{envelopeID}:cancel":{"put":{"tags":["Sign"],"summary":"Cancel Envelope by ID","description":"The **Cancel Envelope by ID** endpoint cancels the signing request for the envelope specified by its UUIDv4 identifier.\nThis endpoint allows you to cancel an envelope and changes its status to Cancelled but keeps it available for reference and reuse after updates. In Cancelled status, no further signing operations can be done on the envelope.\n\n**Note:** Only envelopes that have been sent for signing can be cancelled. Draft envelopes cannot be cancelled.\n","operationId":"cancelEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Envelope cancelled successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedEnvelope"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope cannot be modified","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents:reorder":{"put":{"tags":["Sign"],"summary":"Reorder Documents by Envelope ID","description":"The **Reorder Documents by Envelope ID** endpoint reorders all documents associated with a specific envelope based on the order specified in the request body.\nDocuments are returned in an `items` array within the JSON response reflecting the new order.\n","operationId":"reorderDocuments","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReorderDocumentsRequest"}}},"required":true},"responses":{"200":{"description":"Documents reordered successfully.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PendingDocumentResponse"},{"$ref":"#/components/schemas/UploadedDocumentResponse"},{"$ref":"#/components/schemas/FailedDocumentResponse"},{"$ref":"#/components/schemas/SignedDocumentResponse"},{"$ref":"#/components/schemas/SealedDocumentResponse"}]},"examples":{"Reordered Documents Response Example":{"description":"Reordered Documents Response Example","value":{"items":[{"ID":"987e6543-e21b-12d3-a456-426614174999","name":"First Document","statue":"pending","createdAt":"2023-11-07T05:31:56Z"},{"ID":"bc58d090-1368-4764-96b2-e59f8e4c0e0c","name":"Second Document","statue":"pending","createdAt":"2023-11-08T05:31:56Z"}]}}}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope cannot be modified","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/transformations":{"post":{"tags":["Platform"],"summary":"Request a transformation operation","operationId":"forwardTransformationsRequest","responses":{"200":{"description":"OK"}}}},"/sign/envelopes/{envelopeID}:send-reminders":{"post":{"tags":["Sign"],"summary":"Send Reminders for Envelope","description":"The **Send Reminders for Envelope** endpoint triggers reminder notifications to pending participants of a specified envelope using its UUIDv4 identifier.\n","operationId":"sendReminders","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendReminders"}}}},"responses":{"202":{"description":"Reminders triggered successfully"},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Reminder cannot be sent","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}:send-for-signing":{"post":{"tags":["Sign"],"summary":"Send Envelope for Signing","description":"The **Send Envelope for Signing** endpoint sends an envelope to participants for signature collection.\n\n**Note**: All documents in the envelope must have an \"uploaded\" status before the envelope can be sent for signature.\n","operationId":"sendForSigning","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Envelope successfully sent for signing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope is in an invalid state for sending","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/participants:batch-delete":{"post":{"tags":["Sign"],"summary":"Delete Participants by Participant IDs","description":"The **Delete Participants** endpoint permanently deletes multiple participants from an envelope.","operationId":"deleteParticipants","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteParticipantsRequest"}}},"required":true},"responses":{"200":{"description":"Participants deleted successfully"},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/participants":{"get":{"tags":["Sign"],"summary":"List Participants by Envelope ID","description":"The **List Participant by Envelope ID** endpoint returns all participants associated with a specific envelope.\nThe request must include the envelope ID to ensure the complete set of participants is retrieved for the correct envelope.\n","operationId":"listParticipants","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List participants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParticipantList"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"post":{"tags":["Sign"],"summary":"Create Participant(s) by Envelope ID","description":"The **Create Participant(s) by Envelope ID** endpoint adds one or more participants to a specified envelope.\nAccepts either a single participant object or a bulk request with an 'items' array.\nParticipants are associated to the parent Envelope and can sign multiple fields in different documents.\n\nWhen creating participants, the following limits apply:\n  - Maximum participants: 200\n","operationId":"createParticipant","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Participant creation request - single or bulk","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SingleParticipantRequest"},{"$ref":"#/components/schemas/BulkParticipantRequest"}]},"examples":{"Single Participant":{"description":"Create a single participant","value":{"email":"user@gonitro.com","role":"SIGNER","authentication":{"type":"AccessCode","accessCode":"123456"}}},"Bulk Participants":{"description":"Create multiple participants in a single request","value":{"items":[{"email":"user@gonitro.com","role":"SIGNER","authentication":{"type":"AccessCode","accessCode":"123456"}},{"email":"user1@gonitro.com","role":"SIGNER","authentication":{"type":"SMS","countryCode":"+1","phoneNumber":"1234567890"}}]}}}}},"required":true},"responses":{"201":{"description":"Participant created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Participant"}}}},"200":{"description":"Multiple participants created successfully. Returns an object with an 'items' array containing all created participants.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkParticipantResponse"}}}},"400":{"description":"Invalid request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents/{documentID}/fields:batch-delete":{"post":{"tags":["Sign"],"summary":"Delete Fields by Field IDs","description":"The **Delete Fields** endpoint permanently deletes multiple fields from a document within an envelope.\n","operationId":"deleteFields","parameters":[{"name":"envelopeID","in":"path","description":"A unique string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFieldsRequest"}}},"required":true},"responses":{"200":{"description":"Fields deleted successfully"},"404":{"description":"Envelope or document not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents/{documentID}/fields":{"get":{"tags":["Sign"],"summary":"List Fields by Document ID","description":"The **List Fields by Document ID** endpoint retrieves all fields associated with a specific document within an envelope. The request must include the envelope and document ID to ensure the complete set of fields is retrieved for the correct document.","operationId":"listFields","parameters":[{"name":"envelopeID","in":"path","description":"A unique string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of all fields. Each field contains its unique ID and configuration.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Checkbox"},{"$ref":"#/components/schemas/Company"},{"$ref":"#/components/schemas/Custom"},{"$ref":"#/components/schemas/Date"},{"$ref":"#/components/schemas/Initials"},{"$ref":"#/components/schemas/Name"},{"$ref":"#/components/schemas/Signature"},{"$ref":"#/components/schemas/Title"}]},"examples":{"List Fields Response Example":{"description":"List Fields Response Example","value":{"items":[{"fieldID":"987e6543-e21b-12d3-a456-426614174999","participantID":"123e4567-e89b-12d3-a456-426614174000","documentID":"456e7890-e12b-34d5-a678-426614175000","page":1,"boundingBox":[100.0,200.0,150.0,50.0],"required":true,"type":"signature"}]}}}}}},"404":{"description":"Envelope or document not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"post":{"tags":["Sign"],"summary":"Create Field(s) by Document ID","description":"The **Create Field(s) by Document ID** endpoint creates one or more fields on a document and assigns it to a participant.\nAccepts either a single field object or a bulk request with an 'items' array containing multiple field objects.\n","operationId":"createField","parameters":[{"name":"envelopeID","in":"path","description":"A unique string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Field creation request. Can be a single field object or bulk with 'items' array.\nThe `type` field determines which properties are required:\n- `checkbox` - Checkbox field\n- `company` - Company field\n- `custom` - Custom text field\n- `date` - Date field\n- `initials` - Initials field\n- `name` - Name field\n- `signature` - Signature field\n- `title` - Title field\n","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateCheckboxField"},{"$ref":"#/components/schemas/CreateCompanyField"},{"$ref":"#/components/schemas/CreateCustomField"},{"$ref":"#/components/schemas/CreateDateField"},{"$ref":"#/components/schemas/CreateInitialsField"},{"$ref":"#/components/schemas/CreateNameField"},{"$ref":"#/components/schemas/CreateSignatureField"},{"$ref":"#/components/schemas/CreateTitleField"},{"$ref":"#/components/schemas/BulkFieldRequest"}]},"examples":{"Single Field":{"description":"Single Field","value":{"participantID":"3fa85f64-5717-4562-b3fc-2c963f66afa6","page":1,"boundingBox":[100.0,200.0,150.0,250.0],"required":true,"type":"signature"}},"Bulk Fields":{"description":"Bulk Fields","value":{"items":[{"participantID":"3fa85f64-5717-4562-b3fc-2c963f66afa6","page":1,"boundingBox":[100.0,200.0,150.0,250.0],"required":true,"type":"signature"},{"participantID":"3fa85f64-5717-4562-b3fc-2c963f66afa6","page":1,"boundingBox":[200.0,300.0,150.0,50.0],"required":false,"type":"date","format":"MM/DD/YYYY","modifiable":true}]}}}}},"required":true},"responses":{"201":{"description":"Single Field created successfully","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateCheckboxFieldResponse"},{"$ref":"#/components/schemas/CreateCompanyFieldResponse"},{"$ref":"#/components/schemas/CreateCustomFieldResponse"},{"$ref":"#/components/schemas/CreateDateFieldResponse"},{"$ref":"#/components/schemas/CreateInitialsFieldResponse"},{"$ref":"#/components/schemas/CreateNameFieldResponse"},{"$ref":"#/components/schemas/CreateSignatureFieldResponse"},{"$ref":"#/components/schemas/CreateTitleFieldResponse"}]},"example":{"ID":"987e6543-e21b-12d3-a456-426614174999","participantID":"123e4567-e89b-12d3-a456-426614174000","documentID":"456e7890-e12b-34d5-a678-426614175000","page":1,"boundingBox":[100.0,200.0,150.0,250.0],"required":true,"type":"signature"}}}},"200":{"description":"Fields created successfully","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateCheckboxFieldResponse"},{"$ref":"#/components/schemas/CreateCompanyFieldResponse"},{"$ref":"#/components/schemas/CreateCustomFieldResponse"},{"$ref":"#/components/schemas/CreateDateFieldResponse"},{"$ref":"#/components/schemas/CreateInitialsFieldResponse"},{"$ref":"#/components/schemas/CreateNameFieldResponse"},{"$ref":"#/components/schemas/CreateSignatureFieldResponse"},{"$ref":"#/components/schemas/CreateTitleFieldResponse"}]},"example":{"items":[{"ID":"987e6543-e21b-12d3-a456-426614174999","participantID":"123e4567-e89b-12d3-a456-426614174000","documentID":"456e7890-e12b-34d5-a678-426614175000","page":1,"boundingBox":[100.0,200.0,150.0,250.0],"required":true,"type":"signature"},{"ID":"654e3210-e21b-12d3-a456-426614174888","participantID":"123e4567-e89b-12d3-a456-426614174000","documentID":"456e7890-e12b-34d5-a678-426614175000","page":1,"boundingBox":[200.0,300.0,150.0,50.0],"required":false,"type":"date","format":"MM/DD/YYYY","modifiable":true}]}}}},"400":{"description":"Invalid request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"404":{"description":"Envelope or document not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"422":{"description":"The requested participant does not exist on the given package","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents":{"get":{"tags":["Sign"],"summary":"List Documents by Envelope ID","description":"The **List Documents by Envelope ID** endpoint retrieves all documents associated with a specific envelope. Documents are returned in an `items` array within the JSON response.\nThe request must include the envelope ID to ensure the complete set of documents is retrieved for the correct envelope.\n","operationId":"listDocuments","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List all documents associated with the envelope.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PendingDocumentResponse"},{"$ref":"#/components/schemas/UploadedDocumentResponse"},{"$ref":"#/components/schemas/FailedDocumentResponse"},{"$ref":"#/components/schemas/SignedDocumentResponse"},{"$ref":"#/components/schemas/SealedDocumentResponse"}]},"examples":{"List Documents Response Example":{"description":"List Documents Response Example","value":{"items":[{"ID":"987e6543-e21b-12d3-a456-426614174999","name":"Document","statue":"pending","createdAt":"2023-11-07T05:31:56Z"}]}}}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"post":{"tags":["Sign"],"summary":"Create Document by Envelope ID","description":"In Nitro, a *Document* is a file that participants in an eSignature Envelope will read and sign. This could be an employment contract, NDA, legal agreement, banking form, or any other file required in your signature workflow.\n\nThe **Create Document by Envelope ID** endpoint supports uploading a **single** file per request.\nEvery document must be part of an Envelope container. To upload a document, first [Create an Envelope](https://developers.gonitro.com/docs/api-reference/envelope/create-envelope) and retain the Envelope `ID`.\n\n### Supported file formats\nWhen a `contentType` is provided in the metadata, the following formats are accepted and will be converted to PDF automatically:\n\n#### Document formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .docx | application/vnd.openxmlformats-officedocument.wordprocessingml.document |\n| .doc | application/msword |\n| .dot | application/msword |\n| .docm | application/vnd.ms-word.document.macroenabled.12 |\n| .dotx | application/vnd.openxmlformats-officedocument.wordprocessingml.template |\n| .dotm | application/vnd.ms-word.template.macroenabled.12 |\n\n#### Spreadsheet formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .xlsx | application/vnd.openxmlformats-officedocument.spreadsheetml.sheet |\n| .xls | application/vnd.ms-excel |\n| .xlt | application/vnd.ms-excel |\n| .xlsm | application/vnd.ms-excel.sheet.macroenabled.12 |\n| .xltx | application/vnd.openxmlformats-officedocument.spreadsheetml.template |\n| .xltm | application/vnd.ms-excel.template.macroenabled.12 |\n\n#### Presentation formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .pptx | application/vnd.openxmlformats-officedocument.presentationml.presentation |\n| .ppt | application/vnd.ms-powerpoint |\n\n#### Web formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .html | text/html |\n| .htm | text/html |\n| .rtf | application/rtf |\n| .xml | application/xml |\n\n#### Image formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .png | image/png |\n| .jpg | image/jpeg |\n| .jpeg | image/jpeg |\n| .tif | image/tiff |\n| .tiff | image/tiff |\n| .gif | image/gif |\n| .psd | image/vnd.adobe.photoshop |\n| .eps | application/postscript |\n| .svg | image/svg+xml |\n\n#### Other formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .csv | text/csv |\n\n#### PDF formats\n\n| Extension | Content Type |\n|-----------|-------------|\n| .pdf | application/pdf |\n\nWhen `contentType` is omitted from the metadata, only PDF files are accepted.\n\nWhen uploading a document, the following limits apply:\n  - Maximum pages per document: 250\n  - Maximum size per document: 20Mb\n  - Maximum documents per envelope: 15\n  - Maximum size per envelope: 300 Mb\n","operationId":"createDocument","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"nitroDocumentID","in":"query","description":"  An ID reference to a user-associated Nitro Document. Instead of uploading a new file, you can attach an existing Nitro Document to an envelope by referencing its `nitroDocumentID`. This lets you reuse documents that have already been uploaded.\n\n  To do this, provide the `nitroDocumentID` **instead** of a file in the `payload`.\n\n  Important: `nitroDocumentID` and `payload` parameters are mutually exclusive. You must choose one of the following combinations:\n\n  `payload` + `metadata`\n\n  `nitroDocumentID` + `metadata`\n\n  Providing both in the same request will throw an error.\n","required":false,"schema":{"type":"string","description":"  An ID reference to a user-associated Nitro Document. Instead of uploading a new file, you can attach an existing Nitro Document to an envelope by referencing its `nitroDocumentID`. This lets you reuse documents that have already been uploaded.\n\n  To do this, provide the `nitroDocumentID` **instead** of a file in the `payload`.\n\n  Important: `nitroDocumentID` and `payload` parameters are mutually exclusive. You must choose one of the following combinations:\n\n  `payload` + `metadata`\n\n  `nitroDocumentID` + `metadata`\n\n  Providing both in the same request will throw an error.\n","minimum":0}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/EnvelopeWebDocumentRequestMetadata","description":"The Metadata for the uploaded document"},"payload":{"type":"string","format":"binary","description":"The document to upload, provided as binary data. Each file can be up to 20 MB and 250 pages.\n\nAn Envelope can include up to 15 files total, with a combined size limit of 300 MB.\n\nExample:\n```bash\n   curl -X POST \"https://api.gonitro.dev/sign/envelopes/{envelopeID}/documents\"   -H \"Authorization: Bearer <token>\"   -F 'metadata={\"name\":\"<your_document_name>\",\"contentType\":\"application/pdf\"};type=application/json'   -F \"payload=@/path/to/document.pdf\"  # @ symbol reads file content\n  ```\n"}},"required":["metadata"]},"encoding":{"metadata":{"contentType":"application/json"},"payload":{"contentType":"application/octet-stream"},"nitroDocumentID":{"contentType":"text/plain"}}}}},"responses":{"201":{"description":"When a document is created you will get a unique ID for it. You can add fields to the document later by referencing its unique ID using other endpoints in this API. When the document is first created, it will be in a pending state until it is processed by our system.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PendingDocumentResponse"}}}},"400":{"description":"Invalid envelope or document name","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"413":{"description":"Content too large","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ContentTooLargeProblemDetail"}}}},"415":{"description":"File format not supported","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnsupportedMediaTypeDetail"}}}},"422":{"description":"Unprocessable entity - too many documents.\n\nAn envelope can contain up to 15 documents, with each document not exceeding 20 MB in size.\n","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntityProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes":{"get":{"tags":["Sign"],"summary":"List Envelopes","description":"The **List Envelopes** endpoint returns all envelopes associated with an application in an account.","operationId":"listEnvelopes","parameters":[{"name":"pageAfter","in":"query","description":"An optional cursor token that instructs the endpoint to return items following the last item from the previous response.\n\nTo use this field, include the token value from the `nextPage` field of the previous response in the `pageAfter` query parameter to retrieve the next batch of envelopes.\n\nExample:\n``` shell\n  curl --location 'https://api.gonitro.dev/sign/envelopes?pageAfter=<next_page_token>'   --header 'Authorization: Bearer <your_jwt_token>'\n```\n\n**Note:** Cannot be used together with `pageBefore`.\n","required":false,"schema":{"type":"string"}},{"name":"pageBefore","in":"query","description":"An optional cursor token that instructs the endpoint to return items preceding the last item from the previous response.\n\nTo use this field, include the token from the `nextPage` field of the previous response in the `pageBefore` query parameter to retrieve envelopes before the cursor position.\n\nExample:\n``` shell\ncurl --location 'https://api.gonitro.dev/sign/envelopes?pageBefore=<next_page_token>' --header 'Authorization: Bearer <your_jwt_token>'\n```\n**Note:** Cannot be used together with `pageAfter`.\n","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The List Envelopes endpoint returns all envelopes associated with your account. Envelopes are returned in an `items` array within the JSON response.\n\nIf additional envelopes are available, the initial response will include a `nextPage` field containing a string token. If there are no more envelopes, this field will be omitted. The token serves as a marker for the last item returned and can be used as the starting point for your next request.\n\nThe List Envelopes endpoint uses cursor-based pagination for optimal performance and consistency when handling large numbers of envelopes and frequent data updates.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeList"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"post":{"tags":["Sign"],"summary":"Create Envelope","description":"The **Create Envelope** endpoint creates a new **sign envelope** in Nitro.\n\nA **sign envelope** is the container for signature processes in Nitro. It can include assets such as documents, participants, signature fields, and configuration settings that define how the signing process should behave.\nWith the Create Envelope endpoint, you will create an empty sign envelope you can later add assets to.\n","operationId":"createEnvelope","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeCreate"}}},"required":true},"responses":{"201":{"description":"When an envelope is created you will get a unique ID for it. You can add assets to the envelope later by referencing its unique ID using other endpoints in this API.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedEnvelope"}}}},"400":{"description":"Invalid envelope or document name","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/conversions":{"post":{"tags":["Sign"],"summary":"Convert File to PDF","description":"*This endpoint was deprecated* on March 24, 2026, and will be sunset on July 1, 2026. Please migrate your existing functionality to the current endpoint:\nhttps://developers.gonitro.com/docs/api-reference/sign/create-document-by-envelope-id , which already supports multiple file types.\n\nThe **Convert File to PDF** endpoint transforms various file formats into PDF documents for use with the Nitro Sign API.\n\n  ### Input files\n  Supported input document types and formats:\n\n  | Document Type | Formats |\n  |---------------|---------|\n  | Doc | .doc, .docx, .dot, .xml, .docm, .dotx, .dotm, .rtf |\n  | Excel | .xlsx, .xls, .xlt, .xlsm, .xltx, .xltm |\n  | HTML | .html |\n  | Powerpoint | .pptx, .ppt |\n  | Image | .png, .jpg, .jpeg, .tif, .tiff, .gif |\n  | Other | .csv, .psd, .svg, .eps |\n\n  ### Output files\n  The **Convert File** Sign API endpoint only supports PDF files as output.\n\n  ### Asynchronous Processing\n  The **Convert File** endpoint supports only asynchronous processing. When you start a file format conversion, the request returns a job ID. Use this ID with the job endpoints to check the status and retrieve the results once the operation is complete.\n","operationId":"convertFile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"The file to convert to PDF, provided as binary data."}},"required":["file"]},"encoding":{"file":{"contentType":"multipart/form-data"}}}}},"responses":{"200":{"description":"File conversion initiated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvertFileResponse"}}}},"400":{"description":"Missing file","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"415":{"description":"File format not supported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsupportedMediaTypeDetail"}}}},"413":{"description":"File size exceeds maximum allowed limit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentTooLargeProblemDetail"}}}},"500":{"description":"Internal server error during conversion process","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}},"deprecated":true}},"/oauth/token":{"post":{"tags":["Authentication"],"summary":"Get Access Token","description":"The Get Access Token endpoint exchanges client credentials for an access token\nusing the OAuth 2.0 client credentials flow.\n\nThis endpoint accepts a client ID and client secret and returns an access token that\ncan be used to authenticate API requests. The token follows standard OAuth 2.0 patterns.\n","operationId":"getTokenRfc6749","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AuthTokenResponse"},{"$ref":"#/components/schemas/OAuth2TokenResponse"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2ErrorResponse"}}}}},"security":[]}},"/generations":{"post":{"tags":["Platform"],"summary":"Request a generation operation","operationId":"forwardGenerationsRequest","responses":{"200":{"description":"OK"}}}},"/extractions":{"post":{"tags":["Platform"],"summary":"Request an extraction operation","operationId":"forwardExtractionsRequest","responses":{"200":{"description":"OK"}}}},"/conversions":{"post":{"tags":["Platform"],"summary":"Request a conversion operation","operationId":"forwardConversionsRequest","responses":{"200":{"description":"OK"}}}},"/sign/envelopes/{envelopeID}/participants/{participantID}":{"delete":{"tags":["Sign"],"summary":"Delete Participant by ID","description":"The **Delete Participant by ID** endpoint permanently deletes a participant from an envelope.\n","operationId":"deleteParticipant","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"participantID","in":"path","description":"A unique UUIDv4 string that identifies the participant in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Participant deleted successfully"},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"patch":{"tags":["Sign"],"summary":"Update Participant by ID","description":"The **Update Participant by ID** endpoint modifies a participant's authentication settings.\nThe participant's email cannot be updated. All parameters are optional.\n","operationId":"updateParticipant","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"participantID","in":"path","description":"A unique UUIDv4 string that identifies the participant in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParticipantUpdate"}}},"required":true},"responses":{"200":{"description":"Participant updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Participant"}}}},"400":{"description":"Invalid request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"404":{"description":"Envelope or participant not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents/{documentID}/fields/{fieldID}":{"delete":{"tags":["Sign"],"summary":"Delete Field by ID","description":"The **Delete Field by ID** endpoint permanently deletes a field from a document within an envelope.","operationId":"deleteField","parameters":[{"name":"envelopeID","in":"path","description":"A unique string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fieldID","in":"path","description":"A unique string that identifies the field in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Field deleted successfully"},"404":{"description":"Envelope or document not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"patch":{"tags":["Sign"],"summary":"Update Field by ID","description":"The **Update Field by ID** endpoint modifies the properties of an existing field.\nThe Field type cannot be updated. All parameters are optional.\n","operationId":"updateField","parameters":[{"name":"envelopeID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fieldID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UpdateCheckboxField"},{"$ref":"#/components/schemas/UpdateCompanyField"},{"$ref":"#/components/schemas/UpdateCustomField"},{"$ref":"#/components/schemas/UpdateDateField"},{"$ref":"#/components/schemas/UpdateInitialsField"},{"$ref":"#/components/schemas/UpdateNameField"},{"$ref":"#/components/schemas/UpdateSignatureField"},{"$ref":"#/components/schemas/UpdateTitleField"}]}}},"required":true},"responses":{"200":{"description":"Field updated successfully","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Checkbox"},{"$ref":"#/components/schemas/Company"},{"$ref":"#/components/schemas/Custom"},{"$ref":"#/components/schemas/Date"},{"$ref":"#/components/schemas/Initials"},{"$ref":"#/components/schemas/Name"},{"$ref":"#/components/schemas/Signature"},{"$ref":"#/components/schemas/Title"}]}}}},"404":{"description":"Envelope, document, or field not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents/{documentID}":{"get":{"tags":["Sign"],"summary":"Get Document by ID","description":"The **Get Document by ID** endpoint retrieves the details of a single document using its identifier within a specific envelope.\n\nThis endpoint is useful for retrieving specific document information, monitoring document processing status, or displaying document details within your internal system.\n","operationId":"getDocument","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The **GET Document by ID** endpoint returns a JSON object with the document's data\n","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PendingDocumentResponse"},{"$ref":"#/components/schemas/UploadedDocumentResponse"},{"$ref":"#/components/schemas/FailedDocumentResponse"},{"$ref":"#/components/schemas/SignedDocumentResponse"},{"$ref":"#/components/schemas/SealedDocumentResponse"}]}}}},"404":{"description":"Document or envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"delete":{"tags":["Sign"],"summary":"Delete Document by ID","description":"The **Delete Document by ID** endpoint deletes permanently removes a document from an envelope.\n","operationId":"deleteDocument","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Document deleted successfully"},"404":{"description":"Document not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/DocumentNotFoundProblemDetail"}}}},"409":{"description":"Envelope cannot be modified","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"patch":{"tags":["Sign"],"summary":"Update Document by ID","description":"The **Update Document by ID** endpoint allows you to update an existing document's metadata within an envelope.\nThis endpoint performs a partial update on the document, changing only the provided fields while preserving all other properties.\nCurrently, only the document name can be updated.\n","operationId":"updateDocument","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameDocumentRequest"}}},"required":true},"responses":{"200":{"description":"Document updated successfully","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PendingDocumentResponse"},{"$ref":"#/components/schemas/UploadedDocumentResponse"}]}}}},"400":{"description":"Invalid document metadata","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"404":{"description":"Document or envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/DocumentNotFoundProblemDetail"}}}},"409":{"description":"Envelope cannot be modified","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}":{"get":{"tags":["Sign"],"summary":"Get Envelope by ID","description":"The **Get Envelope by ID** endpoint retrieves the details of a single envelope using its UUIDv4 identifier.\n\nThis endpoint is useful for monitoring the progress of an envelope, retrieving specific envelope information as part of API call chaining, or displaying envelope details within your internal system.\n","operationId":"getEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The GET Envelope by ID endpoint returns a JSON object with the envelope's data\n\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendedEnvelope"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"delete":{"tags":["Sign"],"summary":"Delete Envelope by ID","description":"The **Delete Envelope by ID** endpoint permanently deletes the envelope.\n\n**Warning**: This operation permanently deletes the envelope and cannot be undone. All associated documents, fields, and participants will also be deleted.\n","operationId":"deleteEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Envelope deleted successfully"},"400":{"description":"Invalid request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}},"patch":{"tags":["Sign"],"summary":"Update Envelope","description":"The **Update Envelope** endpoint modifies an envelope’s name, notification settings, or signing mode. All parameters are optional, so you can update any combination of these fields without affecting the others.","operationId":"updateEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeUpdate"}}},"required":true},"responses":{"200":{"description":"Envelope updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"400":{"description":"Invalid request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/BadRequestProblemDetail"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope is in an invalid state for updating","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}:download-sealed":{"get":{"tags":["Sign"],"summary":"Download Sealed Envelope","description":"The **Download Sealed Envelope** downloads a sealed (signed) envelope's documents along with audit trail in a ZIP archive.","operationId":"downloadSealedEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"ZIP archive containing all signed documents from the envelope along with audit trail","content":{"application/octet-stream":{}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope is not sealed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}:download-original":{"get":{"tags":["Sign"],"summary":"Download Original Envelope","description":"The **Download Original Envelope** downloads an envelope's original (unsigned) documents in a ZIP archive.","operationId":"downloadOriginalEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"ZIP archive containing all original documents from the envelope","content":{"application/octet-stream":{}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}:download-audit-trail":{"get":{"tags":["Sign"],"summary":"Download Audit Trail of Envelope","description":"Downloads the PDF file containing the full audit trail for the selected envelope.","operationId":"downloadAuditTrailOfEnvelope","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"A PDF file containing the full audit trail for the selected envelope.","content":{"application/octet-stream":{}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/participants/signing-urls":{"get":{"tags":["Sign"],"summary":"List Signer Signing URLs by Envelope ID","description":"The **List Signer Signing URLs by Envelope ID** endpoint returns the signing URL and its\nexpiry for each signer of an envelope. Only participants with the SIGNER role are included;\nreviewers and CC recipients are excluded. The envelope must be in the SENT status; otherwise\nthe request is rejected with a 409 response.\n","operationId":"listSignerSigningUrls","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List signer signing URLs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignerSigningUrlList"}}}},"404":{"description":"Envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope is not in the SENT status","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/envelopes/{envelopeID}/documents/{documentID}:download-sealed":{"get":{"tags":["Sign"],"summary":"Download Sealed Document by ID","description":"The **Download Sealed Document by ID** downloads a single sealed (signed) document as a PDF from a sealed envelope.","operationId":"downloadSealedDocument","parameters":[{"name":"envelopeID","in":"path","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentID","in":"path","description":"A unique string that identifies the document in the Nitro system.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The sealed document as a PDF file","content":{"application/pdf":{}}},"404":{"description":"Document or envelope not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"409":{"description":"Envelope is not sealed","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/EnvelopeInInvalidStateProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}}}},"/sign/conversions/{jobID}:download-converted":{"get":{"tags":["Sign"],"summary":"Get Converted File by Job ID","description":"*This endpoint was deprecated* on March 24, 2026, and will be sunset on July 1, 2026. Please migrate your existing functionality to the current endpoint: https://developers.gonitro.com/docs/api-reference/sign/create-document-by-envelope-id , which already supports multiple file types.\n\nDownloads the file that was converted in a previous request.\n","operationId":"downloadConvertedFile","parameters":[{"name":"jobID","in":"path","description":"The ID of the conversion job","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Converted file downloaded successfully","content":{"application/octet-stream":{}}},"404":{"description":"Conversion job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"500":{"description":"Internal server error during file retrieval","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}},"deprecated":true}},"/sign/conversions/{jobID}/status":{"get":{"tags":["Sign"],"summary":"Get Conversion Job Status","description":"*This endpoint was deprecated* on March 24, 2026, and will be sunset on July 1, 2026. Please migrate your existing functionality to the current endpoint: https://developers.gonitro.com/docs/api-reference/sign/create-document-by-envelope-id , which already supports multiple file types.\n\nGet status of a conversion by job ID.\n","operationId":"getJobStatus","parameters":[{"name":"jobID","in":"path","description":"The ID of the conversion job","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Job status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatusResponse"}}}},"404":{"description":"Job not found with the provided job ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundProblemDetail"}}}},"500":{"description":"Internal server error while retrieving job status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorProblemDetail"}}}},"401":{"description":"Unauthorized - Invalid or missing JWT token","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/UnauthorizedProblemDetail"}}}}},"deprecated":true}},"/jobs/{jobID}":{"get":{"tags":["Platform"],"summary":"Get the result of a job by its job id","operationId":"getJobResult","responses":{"200":{"description":"OK"}}}},"/jobs/{jobID}/status":{"get":{"tags":["Platform"],"summary":"Get the status of a job by its job id","operationId":"getJobStatus_1","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"ExtendedEnvelope":{"type":"object","properties":{"ID":{"type":"string","format":"uuid","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system."},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the envelope was created."},"lastModifiedAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating the last time the envelope was updated. Matches `createdAt` at the time of creation."},"name":{"type":"string","description":"The name of the envelope."},"status":{"type":"string","description":"The internal status of the envelope. Defaults to drafted on creation.","enum":["drafted","sent","processing","sealed","rejected","cancelled","deleted"]},"mode":{"type":"string","description":"Signing mode for the envelope.","enum":["sequential","parallel"]},"notification":{"$ref":"#/components/schemas/Notification","description":"Notification settings for the envelope."}}},"Notification":{"type":"object","properties":{"subject":{"type":"string","description":"The subject line of the notification email.","minLength":1},"body":{"type":"string","description":"The body content of the notification email.","minLength":1}},"required":["body","subject"]},"NotFoundProblemDetail":{"type":"object","description":"Not Found error details","example":{"type":"https://developers.gonitro.com/docs/build-nitro/errors#404-not-found","title":"Not Found","status":404,"detail":"Envelope with ID 'envelop-123' not found","instance":"/sign/envelopes/envelop-123"},"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type"},"title":{"type":"string","description":"A short, human-readable summary of the problem type"},"status":{"type":"integer","format":"int32","description":"The HTTP status code"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence"},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence"},"extensions":{"type":"object","additionalProperties":{},"description":"Additional problem-specific properties"}}},"EnvelopeInInvalidStateProblemDetail":{"type":"object","description":"Envelope in invalid state","example":{"type":"https://developers.gonitro.com/docs/build-nitro/errors#409-conflict","title":"Conflict","status":409,"detail":"Envelope in invalid state","instance":"/sign/envelopes/%s:send-for-signing"},"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type"},"title":{"type":"string","description":"A short, human-readable summary of the problem type"},"status":{"type":"integer","format":"int32","description":"The HTTP status code"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence"},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence"},"extensions":{"type":"object","additionalProperties":{},"description":"Additional problem-specific properties"}}},"UnauthorizedProblemDetail":{"type":"object","description":"Unauthorized error details","example":{"type":"https://developers.gonitro.com/docs/build-nitro/errors#401-unauthorized","title":"Unauthorized","status":401,"detail":"Missing or invalid Authorization header","instance":"/sign/envelopes"},"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type"},"title":{"type":"string","description":"A short, human-readable summary of the problem type"},"status":{"type":"integer","format":"int32","description":"The HTTP status code"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence"},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence"},"extensions":{"type":"object","additionalProperties":{},"description":"Additional problem-specific properties"}}},"PendingDocumentResponse":{"type":"object","description":"Response for a pending document","properties":{"name":{"type":"string","description":"Name of the file provided by the user.","minLength":1},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the document was created."},"status":{"type":"string","description":"Current status of the document.","enum":["pending","uploaded","failed","signed","sealed"]},"ID":{"type":"string","format":"uuid","description":"Unique uuid identifier for the document.","minLength":1}},"required":["ID","name"],"title":"Pending"},"UploadedDocumentResponse":{"type":"object","description":"Response for an uploaded document","properties":{"name":{"type":"string","description":"Name of the file provided by the user.","minLength":1},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the document was created."},"status":{"type":"string","description":"Current status of the document.","enum":["pending","uploaded","failed","signed","sealed"]},"sizeBytes":{"type":"integer","format":"int64","description":"Size in bytes of the document."},"numPages":{"type":"integer","format":"int32","description":"Number of pages of the document."},"ID":{"type":"string","format":"uuid","description":"Unique uuid identifier for the document.","minLength":1}},"required":["ID","name"],"title":"Uploaded"},"FailedDocumentResponse":{"type":"object","description":"Response for a failed document","properties":{"name":{"type":"string","description":"Name of the file provided by the user.","minLength":1},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the document was created."},"status":{"type":"string","description":"Current status of the document.","enum":["pending","uploaded","failed","signed","sealed"]},"sizeBytes":{"type":"integer","format":"int64","description":"Size in bytes of the document."},"numPages":{"type":"integer","format":"int32","description":"Number of pages of the document."},"failureReason":{"type":"string","description":"The failure reason of the document."},"ID":{"type":"string","format":"uuid","description":"Unique uuid identifier for the document.","minLength":1}},"required":["ID","name"],"title":"Failed"},"SignedDocumentResponse":{"type":"object","description":"Response for a signed document","properties":{"name":{"type":"string","description":"Name of the file provided by the user.","minLength":1},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the document was created."},"status":{"type":"string","description":"Current status of the document.","enum":["pending","uploaded","failed","signed","sealed"]},"sizeBytes":{"type":"integer","format":"int64","description":"Size in bytes of the document."},"numPages":{"type":"integer","format":"int32","description":"Number of pages of the document."},"ID":{"type":"string","format":"uuid","description":"Unique uuid identifier for the document.","minLength":1}},"required":["ID","name"],"title":"Signed"},"SealedDocumentResponse":{"type":"object","description":"Response for a sealed document","properties":{"name":{"type":"string","description":"Name of the file provided by the user.","minLength":1},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the document was created."},"status":{"type":"string","description":"Current status of the document.","enum":["pending","uploaded","failed","signed","sealed"]},"sizeBytes":{"type":"integer","format":"int64","description":"Size in bytes of the document."},"numPages":{"type":"integer","format":"int32","description":"Number of pages of the document."},"ID":{"type":"string","format":"uuid","description":"Unique uuid identifier for the document.","minLength":1}},"required":["ID","name"],"title":"Sealed"},"ReorderDocumentsRequest":{"type":"object","description":"The request body should contain an array named 'order' with the document IDs in the desired sequence.\nThis will update the order of documents within the envelope according to the provided list.\n\nExample:\n```json\n{\n  \"order\": [\n    \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n    \"ffa85f64-5709-6562-g3fc-1c963f66afa5\"\n  ]\n}\n```\n","properties":{"order":{"type":"array","description":"An array of document IDs representing the new order of documents within the envelope.","items":{"type":"string","format":"uuid"},"title":"order"}}},"SendReminders":{"type":"object","properties":{"notification":{"$ref":"#/components/schemas/Notification","description":"The `notification` object defines the reminder notifications  sent to pending participants. It contains a `subject` and a `body` as nested parameters, and both fields support dynamic variables.\n\n**Dynamic Variables**\nYou can personalize notification emails by referencing dynamic variables in the subject or body.\nAvailable variables:\n    `envelope_name`: The name of the envelope being signed.\n    `sender_name_or_email`: The sender’s name, or their email address if the name is not available.\n\nSyntax:\nTo reference the variables, wrap them with `$()` in your message. Example: `$(envelope_name)`\n\n`notification` object example:\n``` json\n{\n    \"notification\": {\n        \"subject\": \"$(sender_name_or_email) is requesting your signature\",\n        \"body\": \"Hi,\\nPlease sign the $(envelope_name)\\nThank you,\\n$(sender_name_or_email)\"\n    }\n}\n```\n\n**Note**: If the `notification` object is not provided in the request (or an empty object `{}` is sent), reminder emails will be sent using the default notification template that was configured when the envelope was created.\n"}}},"Envelope":{"type":"object","properties":{"ID":{"type":"string","format":"uuid","description":"A unique UUIDv4 string that identifies the envelope in the Nitro system."},"createdAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating when the envelope was created."},"lastModifiedAt":{"type":"string","format":"date-time","description":"UTC timestamp indicating the last time the envelope was updated. Matches `createdAt` at the time of creation."},"name":{"type":"string","description":"The name of the envelope."},"status":{"type":"string","description":"The internal status of the envelope. Defaults to drafted on creation.","enum":["drafted","sent","processing","sealed","rejected","cancelled","deleted"]}}},"DeleteParticipantsRequest":{"type":"object","description":"A set of unique UUIDv4 strings that identify the participants in the Nitro system.","properties":{"items":{"type":"array","description":"An array of participant IDs to be deleted from the envelope.","items":{"type":"string","format":"uuid"},"title":"items"}}},"AccessCode":{"description":"Access code","properties":{"accessCode":{"type":"string","description":"Access code. It must contain between 4-32 characters."},"type":{"type":"string","enum":["AccessCode"],"title":"type"}},"title":"Access Code"},"ParticipantAuthentication":{"discriminator":{"propertyName":"type","mapping":{"SMS":"#/components/schemas/SMS","AccessCode":"#/components/schemas/AccessCode"}},"properties":{"type":{"type":"string"}},"required":["type"]},"ParticipantCreate":{"type":"object","description":"Request to create a new participant","properties":{"email":{"type":"string","description":"The email address of the participant"},"role":{"type":"string","description":"Role of the participant.\n- `signer`: A participant with the signer role can have fields assigned to them in order to sign the documents in the envelope.\n- `cc`: A participant with the cc role has read-only access. They can view the documents but cannot interact with them, so you cannot assign fields to a cc participant.\n","enum":["signer","cc"]},"authentication":{"description":"Participant authentication\n\nWhen inviting a participant to a Nitro Sign flow, you must define how they will authenticate before signing the document.\n\nThere are two supported methods:\n\n- Access code: A static code that you provide to the participant.\n- SMS code: A dynamic code that is sent to the participant's phone number.\n","oneOf":[{"$ref":"#/components/schemas/AccessCode"},{"$ref":"#/components/schemas/SMS"}]}},"required":["role"]},"SMS":{"description":"SMS","properties":{"countryCode":{"type":"string","description":"Country code. It must start with `+` and be followed by 1-4 digits. For example +1, +55, +598"},"phoneNumber":{"type":"string","description":"Phone number. Enter digits only, without a country code or formatting characters."},"type":{"type":"string","enum":["SMS"],"title":"type"}},"title":"SMS"},"SingleParticipantRequest":{"description":"Create a single participant","properties":{"email":{"type":"string","description":"The email address of the participant"},"role":{"type":"string","description":"Role of the participant.\n- `signer`: A participant with the signer role can have fields assigned to them in order to sign the documents in the envelope.\n- `cc`: A participant with the cc role has read-only access. They can view the documents but cannot interact with them, so you cannot assign fields to a cc participant.\n","enum":["signer","cc"]},"authentication":{"description":"Participant authentication\n\nWhen inviting a participant to a Nitro Sign flow, you must define how they will authenticate before signing the document.\n\nThere are two supported methods:\n\n- Access code: A static code that you provide to the participant.\n- SMS code: A dynamic code that is sent to the participant's phone number.\n","oneOf":[{"$ref":"#/components/schemas/AccessCode"},{"$ref":"#/components/schemas/SMS"}]}},"title":"Single Participant Request"},"BulkParticipantRequest":{"description":"Create multiple participants wrapped in an items array","properties":{"items":{"type":"array","description":"List of participants to create.","items":{"$ref":"#/components/schemas/ParticipantCreate"}}},"title":"Bulk Participant Request"},"Participant":{"type":"object","properties":{"ID":{"type":"string","format":"uuid","description":"The unique identifier of the participant"},"email":{"type":"string","description":"The email address of the participant"},"role":{"type":"string","description":"The role of the participant"},"authentication":{"description":"Participant authentication","oneOf":[{"$ref":"#/components/schemas/AccessCode"},{"$ref":"#/components/schemas/SMS"}]}}},"BulkParticipantResponse":{"type":"object","description":"Response containing multiple created participants wrapped in an items array","properties":{"items":{"type":"array","description":"List of all participants created in this request. Each participant contains its unique ID and configuration.","items":{"$ref":"#/components/schemas/Participant","description":"List of all participants created in this request. Each participant contains its unique ID and configuration.","title":"Participants"},"title":"Participants"}},"required":["items"],"title":"Bulk Participant Response"},"BadRequestProblemDetail":{"type":"object","description":"Bad Request error details","example":{"type":"https://developers.gonitro.com/docs/build-nitro/errors#400-bad-request","title":"Bad Request","status":400,"detail":"Request validation failed","instance":"/sign/envelopes","validation_errors":{"name":"must not be blank"}},"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type"},"title":{"type":"string","description":"A short, human-readable summary of the problem type"},"status":{"type":"integer","format":"int32","description":"The HTTP status code"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence"},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence"},"extensions":{"type":"object","additionalProperties":{},"description":"Additional problem-specific properties"}}},"DeleteFieldsRequest":{"type":"object","description":"A set of unique UUIDv4 strings that identify the fields in the Nitro system.","properties":{"items":{"type":"array","description":"An array of field IDs to be deleted from the envelope.","items":{"type":"string","format":"uuid"},"title":"items"}}},"CreateCheckboxField":{"description":"Parameters to create a Checkbox field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["checkbox"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Checkbox"},"CreateCompanyField":{"description":"Parameters to create a Company field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["company"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Company"},"CreateCustomField":{"description":"Parameters to create a Custom field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["custom"],"title":"type"},"label":{"type":"string","description":"For custom field types, you must provide a descriptive label for the field.","minLength":1}},"required":["boundingBox","participantID","type"],"title":"Custom"},"CreateDateField":{"description":"Parameters to create a Date field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["date"],"title":"type"},"format":{"type":"string","description":"For date field types, you can specify the format that will automatically populate when a signer participant opens the document in an envelope.\n\nThe default value is the date on which the signer opens the envelope. The signer can manually edit the date after it auto-populates, if needed.\n\nThe following date format options are supported (examples use September 10, 2025):\n  - `MM/DD/YYYY` → 09/10/2025\n  - `MM-DD-YYYY` → 09-10-2025\n  - `MMM DD YYYY` → Sep 10 2025\n  - `DD/MM/YYYY` → 10/09/2025\n  - `DD MMM YYYY` → 10 Sep 2025\n  - `DD MMMM YYYY` → 10 September 2025\n  - `YYYY/MM/DD` → 2025/09/10\n  - `YYYY-MM-DD` → 2025-09-10\n  - `YYYY-MMM-DD hh:mm` → 2025-Sep-10 14:30\n"},"modifiable":{"type":"boolean","description":"A boolean that indicates that the participant can change value of the field. By default\nthe value of the field is current date and the participant can't change the value."}},"required":["boundingBox","participantID","type"],"title":"Date"},"CreateInitialsField":{"description":"Parameters to create a Initials field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["initials"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Initials"},"CreateNameField":{"description":"Parameters to create a Name field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["name"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Name"},"CreateSignatureField":{"description":"Parameters to create a Signature field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["signature"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Signature"},"CreateTitleField":{"description":"Parameters to create a Title field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["title"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Title"},"BulkFieldRequest":{"type":"object","description":"Create multiple fields wrapped in an items array","properties":{"items":{"type":"array","description":"List of fields to create. Each field can be any supported field type.","items":{"oneOf":[{"description":"Parameters to create a Checkbox field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["checkbox"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Checkbox"},{"description":"Parameters to create a Company field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["company"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Company"},{"description":"Parameters to create a Custom field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["custom"],"title":"type"},"label":{"type":"string","description":"For custom field types, you must provide a descriptive label for the field.","minLength":1}},"required":["boundingBox","participantID","type"],"title":"Custom"},{"description":"Parameters to create a Date field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["date"],"title":"type"},"format":{"type":"string","description":"For date field types, you can specify the format that will automatically populate when a signer participant opens the document in an envelope.\n\nThe default value is the date on which the signer opens the envelope. The signer can manually edit the date after it auto-populates, if needed.\n\nThe following date format options are supported (examples use September 10, 2025):\n  - `MM/DD/YYYY` → 09/10/2025\n  - `MM-DD-YYYY` → 09-10-2025\n  - `MMM DD YYYY` → Sep 10 2025\n  - `DD/MM/YYYY` → 10/09/2025\n  - `DD MMM YYYY` → 10 Sep 2025\n  - `DD MMMM YYYY` → 10 September 2025\n  - `YYYY/MM/DD` → 2025/09/10\n  - `YYYY-MM-DD` → 2025-09-10\n  - `YYYY-MMM-DD hh:mm` → 2025-Sep-10 14:30\n"},"modifiable":{"type":"boolean","description":"A boolean that indicates that the participant can change value of the field. By default\nthe value of the field is current date and the participant can't change the value."}},"required":["boundingBox","participantID","type"],"title":"Date"},{"description":"Parameters to create a Initials field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["initials"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Initials"},{"description":"Parameters to create a Name field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["name"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Name"},{"description":"Parameters to create a Signature field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["signature"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Signature"},{"description":"Parameters to create a Title field","properties":{"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"type":{"type":"string","enum":["title"],"title":"type"}},"required":["boundingBox","participantID","type"],"title":"Title"}]},"minItems":1,"title":"Items"}},"required":["items"],"title":"Bulk Field"},"CreateCheckboxFieldResponse":{"type":"object","description":"Create Checkbox Field Response","properties":{"type":{"type":"string","description":"Enum that specifies which type of information an eSignature participant is expected to fill in.","enum":["signature","name","checkbox","date","initials","company","title","custom"]},"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"ID":{"type":"string","format":"uuid","description":"Unique ID of the field"},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"documentID":{"type":"string","format":"uuid","description":"ID of the document to which this field belongs."}},"required":["boundingBox","documentID","participantID","type"],"title":"Checkbox"},"CreateCompanyFieldResponse":{"type":"object","description":"Create Company Field Response","properties":{"type":{"type":"string","description":"Enum that specifies which type of information an eSignature participant is expected to fill in.","enum":["signature","name","checkbox","date","initials","company","title","custom"]},"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"ID":{"type":"string","format":"uuid","description":"Unique ID of the field"},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"documentID":{"type":"string","format":"uuid","description":"ID of the document to which this field belongs."}},"required":["boundingBox","documentID","participantID","type"],"title":"Company"},"CreateCustomFieldResponse":{"type":"object","description":"Create Custom Field Response","properties":{"type":{"type":"string","description":"Enum that specifies which type of information an eSignature participant is expected to fill in.","enum":["signature","name","checkbox","date","initials","company","title","custom"]},"page":{"type":"integer","format":"int32","description":"The page number where the field appears. Pages follow 1-based indexing, so the first page is 1."},"boundingBox":{"type":"array","description":"An array of numbers in the format [x, y, w, h] that defines the field’s bounding box on the page:\n\n- `x, y` are the coordinates of the top-left corner, measured in points (pt).\n- `w, h` are the width and height of the bounding box, also in points (pt).\n\nFor more information on calculating positions, see the [Bounding Box Guide](https://developers.gonitro.com/docs/build-nitro/bounding-box).\n","items":{"type":"number","format":"float"},"maxItems":4,"minItems":4},"required":{"type":"boolean","description":"A boolean that indicates whether the participant must complete the field."},"label":{"type":"string","description":"Descriptive label of the field.","minLength":1},"ID":{"type":"string","format":"uuid","description":"Unique ID of the field"},"participantID":{"type":"string","format":"uuid","description":"The unique identifier of the participant assigned to the field. Fields can only be created for participants with the signer role."},"documentID":{"type":"string","format":"uuid","description":"ID of the document to which this field belongs."}},"required":["boundingBox","documentID","label","participantID","type"],"title":"Custom"},"CreateDateFiel
[...]
